-
	//-	Title
	let nameTitle = "Usługi BHP: kursy i ochrona przeciwpożarowa – BHP INKA Śląsk";

	//-	two-columnV1

	let buttonName_footer = "Lorem ipsum";
include ../common-components/_head

body
	main(type="main")
		include ../common-components/_nav
		
		div.section-wrapper 
		include ../common-components/_footer
