-
	//-	Title
	let nameTitle = "Usługi BHP: kursy i ochrona przeciwpożarowa – BHP INKA Śląsk";

	//-	Baner top
	let baner_top_img = "images/slider/text-and-background/meetap.webp"
	let baner_top_h1 = "Blog";
	let baner_top_h2 = "Lorem Ipsum is simply"
	let baner_top_content = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit."

	//-	two-columnV2
	let h2_two_columnV2 = "Lorem ipsum, dolor sit " , h2_two_color_columnV2 = "Lorem ipsum Necessitatibus.";
	let text_two_columnV2 = "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Quas veritatis odio quos, numquam natus ea reprehenderit placeat quia, eveniet ullam commodi dolor illo. Possimus.";
	let InfNumber_two_columnV2 = "100%", InfText_two_columnV2 = "Satisfaction";
	let InfNumberTwo_two_columnV2 = "24/4", InfTextTwo_two_columnV2 = "Satisfaction";
	let InfNumberThree_two_columnV2 = "100k+", InfTextThree_two_columnV2 = "Satisfaction";
	let images_columnV2 = "images/text-elements/razem.webp", alt_columnV2 = "alt";

include ../common-components/_head

mixin blog-post ()
	div.col-md-6.col-lg-4
		a.blog-box(href="blog-post.html")
			div.blog-box__image-wrap
				img.blog-box__image-item(src="images/blog/blog-text.jpg")
			div.blog-box__content-wrap
				h3 Cafe Coworking Has Become the Norm.
				article.blog-box__teaser-text.paragraph-text
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam sapiente fugit nobis dolorum similique aliquam.
					span.blog-box__inline
				div.blog-box__information-post.small-text-addColor
					span(itemprop="author") Leonadr Konieczko
					span(datetime="05.02.2020") 05.02.2020

body
	main(type="main")
		include ../common-components/_nav
		include ../common-components/_baner-top
		section.section-wrapper-AddColor
			div.container
				div.row
					+blog-post
					+blog-post
					+blog-post
					+blog-post
					+blog-post
					+blog-post
				div.pagination
					div.pagination_box
						a(href="#")
						a(href="#")
						a(href="#")
						a(href="#")  
		include ../components/text-elements/_two-columnV2
		//- include ../components/slider/_partners
		include ../common-components/_footer