-
	//-	Title
	let nameTitle = "Usługi BHP: kursy i ochrona przeciwpożarowa – BHP INKA Śląsk";

	//-	header V2
	let h1_header_top = "Welcome to", h1_header_top_color = "Landkit", h1_header_top_br = "Develop anything.";
	let text_header_top = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
	let linkOne_header_top = "/o-firmie", linkOne_text_header_top = "Poznaj Nas"; 
	let linkTwo_header_top = "/szkolenia-bhp", linkTwo_text_header_top = "Szkolenia Online";
	let image_headerV2= "images/y-so-serious-white.webp", altImage_headerV2 = "elo";

	//-	two-columnV2
	let h2_two_columnV2 = "Lorem ipsum, dolor sit " , h2_two_color_columnV2 = "Lorem ipsum Necessitatibus.";
	let text_two_columnV2 = "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Quas veritatis odio quos, numquam natus ea reprehenderit placeat quia, eveniet ullam commodi dolor illo. Possimus.";
	let InfNumber_two_columnV2 = "100%", InfText_two_columnV2 = "Satisfaction";
	let InfNumberTwo_two_columnV2 = "24/4", InfTextTwo_two_columnV2 = "Satisfaction";
	let InfNumberThree_two_columnV2 = "100k+", InfTextThree_two_columnV2 = "Satisfaction";
	let images_columnV2 = "images/text-elements/razem.webp", alt_columnV2 = "alt";

include ../common-components/_head

body
	main(type="main")
		include ../common-components/_nav
		section.section-wrapper.blog-post
			div.global-flex-center
				div.blog-post__contener
					div.blog-post__header
						h2 Lorem ipsum dolor sit amet consectetur
						p.paragraph-text-bold.
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias soluta dicta laudantium sint cumque? Eius voluptatibus similique totam fuga eveniet cupiditate magnam amet accusamus, facere vitae, aliquid id tempore fugit.
					div.blog-post__date.small-text-addColor
						span(itemprop="author") Leonadr Konieczko
						span(datetime="05.02.2020") 05.02.2020
					div.blog-post__wrap-image
						img(src="images/blog/blog-text.webp", alt="").blog-post__item-image
					article.blog-post__content
						h3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
						p.paragraph-text.paragraf-margin Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cum numquam aut expedita, voluptas laudantium placeat quidem modi repellat laborum nemo magnam quas nesciunt eveniet nam sed, amet possimus recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sed, dolor consectetur ab fugit, eaque ipsum modi ratione minima voluptate fuga voluptas officiis tempore perspiciatis pariatur unde quod. Voluptates, aperiam?
						h3 Lorem ipsum dolor sit amet 
						p.paragraph-text.paragraf-margin Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cum numquam aut expedita, voluptas laudantium placeat quidem modi repellat laborum nemo magnam quas nesciunt eveniet nam sed, amet possimus recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sed, dolor consectetur ab fugit, eaque ipsum modi ratione minima voluptate fuga voluptas officiis tempore perspiciatis pariatur unde quod. Voluptates, aperiam?  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem cum numquam aut expedita, voluptas laudantium placeat quidem modi repellat laborum nemo magnam quas nesciunt eveniet nam sed, amet possimus recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sed, dolor consectetur ab fugit, eaque ipsum modi ratione minima voluptate fuga voluptas officiis tempore perspiciatis pariatur unde quod. Voluptates, aperiam? 
						
		include ../common-components/_footer