-
	//-	Title
	let nameTitle = "Usługi BHP: kursy i ochrona przeciwpożarowa – BHP INKA Śląsk";

	//-	header
	let h1_header_top = "Welcome to", h1_header_top_color = "Landkit", h1_header_top_br = "Develop anything.";
	let text_header_top = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
	let linkOne_header_top = "/o-firmie", linkOne_text_header_top = "Poznaj Nas"; 
	let linkTwo_header_top = "/szkolenia-bhp", linkTwo_text_header_top = "Szkolenia Online";
	let image_header_top = "images/header/contakt/header-contakt.webp", altImage_header_top = "elo";

	//-	four-columnV1
	let images_four_columnV1 = "images/icons/check/check-header.svg", alt_four_columnV1 = "alt",header_four_columnV1 = "Lorem Ipsum dolar", text_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";
	let images2_four_columnV1 = "images/icons/check/check-header.svg", alt2_four_columnV1 = "alt",header2_four_columnV1 = "Lorem Ipsum dolar", text2_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";
	let images3_four_columnV1 = "images/icons/check/check-header.svg", alt3_four_columnV1 = "alt",header3_four_columnV1 = "Lorem Ipsum dolar", text3_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";
	let images4_four_columnV1 = "images/icons/check/check-header.svg", alt4_four_columnV1 = "alt",header4_four_columnV1 = "Lorem Ipsum dolar", text4_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";

	//-	footer
	let alternative_footer = "DOWIEDŹ SIĘ WIĘCEJ";
	let header_footer = "Lorem ipsum dolor sit amet";
	let text_footer = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.";
	let buttonName_footer = "Lorem ipsum";

include ../common-components/_head
body
	main(type="main")
		include ../common-components/_nav
		include ../common-components/_header
		section.section-wrapper.section-wrapper-AddColor
			div.container
				div.headquarters 
					h2 Sprawdź  siedzibe firmy
					ul.nav#myTab(role='tablist')
						li.headquarters__button.nav-item(role='presentation')
							button.headquarters__button.primary-button.active#home-tab(data-bs-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Katowice
						li.headquarters__button.nav-item(role='presentation')
							button.headquarters__button.primary-button#profile-tab(data-bs-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') Sosnowiec
						li.headquarters__button.nav-item(role='presentation')
							button.headquarters__button.primary-button#contact-tab(data-bs-toggle='tab' href='#contact' role='tab' aria-controls='contact' aria-selected='false') Chudów
					div.headquarters__wrap.tab-content#myTabContent
						div.tab-pane.fade.show.active#home(role='tabpanel' aria-labelledby='home-tab')
							div.row
								div.col-lg-7.headquarters__images
									img(src="images/slider/text-and-background/spotkanie-dwa.webp", alt="").contakt-two__images
								div.col-lg-5
									div.headquarters__box-content
										h3 BHP Inka #[span.headquarters__color-header Katowice]
										address.headquarters__address
											span ul. Gałczyńskiego 21
											span 41-215 | Sosnowiec
										span.headquarters__contact-details
											a(href="") +48 515 760 315
											a(href="") inkabhp@gmail.com
										span.headquarters__opening-hours pon - pt: 9:00 - 18:00
										a(href="").primary-button.headquarters__button-maps Sprawdź dojazd <span class="button-arrow-right"></span>
						div.tab-pane.fade.show#profile(role='tabpanel' aria-labelledby='home-tab')
							div.row
								div.col-lg-7.headquarters__images
									img(src="images/text-elements/home-bacground.webp", alt="").contakt-two__images
								div.col-lg-5
									div.headquarters__box-content
										h3 BHP Inka #[span.headquarters__color-header Sosnowiec]
										address.headquarters__address
											span ul. Gałczyńskiego 21
											span 41-215 | Sosnowiec
										span.headquarters__contact-details
											a(href="") +48 515 760 315
											a(href="") inkabhp@gmail.com
										span.headquarters__opening-hours pon - pt: 9:00 - 18:00
										a(href="").primary-button.headquarters__button-maps Sprawdź dojazd <span class="button-arrow-right"></span>
						div.tab-pane.fade#contact(role='tabpanel' aria-labelledby='contact-tab')
							div.row
								div.col-lg-7.headquarters__images
									img(src="images/slider/text-and-background/spotkanie.webp", alt="").contakt-two__images
								div.col-lg-5
									div.headquarters__box-content
										h3 BHP Inka #[span.headquarters__color-header Chudów]
										address.headquarters__address
											span ul. Gałczyńskiego 21
											span 41-215 | Sosnowiec
										span.headquarters__contact-details
											a(href="") +48 515 760 315
											a(href="") inkabhp@gmail.com
										span.headquarters__opening-hours pon - pt: 9:00 - 18:00
										a(href="").primary-button.headquarters__button-maps Sprawdź dojazd <span class="button-arrow-right"></span>
		section.contakt-two.section-wrapper-AddColor
			div.container
				div.row
					div.col-lg-5
						form(action="").contakt-two__wrap
							h2 Formularza kontaktowy
							input(type="text" placeholder="Imię").contakt-two__input
							input(type="text" placeholder="Nazwisko").contakt-two__input
							input(type="text" placeholder="Firma").contakt-two__input
							input(type="text" placeholder="Numer telefonu").contakt-two__input
							input(type="text" placeholder="Adres mail").contakt-two__input
							textarea(name="elo", cols="30", rows="10" placeholder="Wiadomości").contakt-two__texttarea
							input(type="submit" valu="Wyślij Wiadomości").primary-button.contakt-two__button
					div.col-lg-7
						img(src="images/text-elements/home-bacground.webp", alt="").contakt-two__images
		include ../common-components/_footer
