//- Title
- let nameTitle = 'Usługi BHP: kursy i ochrona przeciwpożarowa – BHP INKA Śląsk';

include ../common-components/_head
body
    main(type="main")
        include ../common-components/_nav
        include ../common-components/_header
        include ../common-components/_footer