-
	//-	Title
	let nameTitle = "Usługi BHP: kursy i ochrona przeciwpożarowa – BHP INKA Śląsk";

	//-	header
	let h1_header_top = "Welcome to", h1_header_top_color = "Landkit", h1_header_top_br = "Develop anything.";
	let text_header_top = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
	let linkOne_header_top = "/o-firmie", linkOne_text_header_top = "Poznaj Nas"; 
	let linkTwo_header_top = "/szkolenia-bhp", linkTwo_text_header_top = "Szkolenia Online";
	let image_header_top = "images/header/home/baner-home.jpg", altImage_header_top = "elo";

	//-	three-columnV1
	let imagesOne_three_column = "images/icons/home/communication.svg", altOne_three_column = "alt", textOne_three_column = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vel iusto excepturi ipsum facere eos unde aspernatur dolore cumque.";
	let imagesTwo_three_column = "images/icons/home/leadership.svg", altTwo_three_column = "alt", textTwo_three_column = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vel iusto excepturi ipsum facere eos unde aspernatur dolore cumque.";
	let imagesThree_three_column = "images/icons/home/team.svg", altThree_three_column = "alt", textThree_three_column = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vel iusto excepturi ipsum facere eos unde aspernatur dolore cumque.";

	//-	contakt-one
	let images_contakt_one = "images/form/v1/images-contakt.webp", images_contakt_alt = "alt";
	let h2_contakt_one = "Lorem ipsum, dolor sit ", h2_color_contakt_one = "Lorem ipsum Necessitatibus.";
	let text_contakt_one = "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus voluptatem nulla, voluptates, cumque exercitationem recusandae distinctio, quo nobis optio deserunt alias doloribus consectetur magni quam. Veritatis illum eligendi porro incidunt?";
	let textIcon_contakt_one = "Lorem ipsum dolor", textIconOne_contakt_one = "Lorem ipsum dolor",  textIconThree_contakt_one = "Lorem ipsum dolor", textIconFour_contakt_one = "Lorem ipsum dolor";

	//-	two-columnV1
	let h2_two_columnV1 = "Lorem ipsum, dolor sit ", h2_color_two_columnV1 = "Lorem ipsum Necessitatibus.";
	let text_two_columnV1 = "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error fugiat suscipit a dignissimos adipisci ad molestias minima provident fuga iste ut cumque harum temporibus";
	let Icon_images_two_columnV1= "images/icons/text-elements/coordinator.svg", Icon_alt_two_columnV1="alt", Icon_h3_two_columnV1="Lorem ipsum, dolor sit", Icon_text_two_columnV1="Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.";
	let Icon_imagesTwo_two_columnV1= "images/icons/text-elements/student.svg", Icon_altTwo_two_columnV1="alt", Icon_h3Two_two_columnV1="Lorem ipsum, dolor sit", Icon_textTwo_two_columnV1="Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.";
	let images_two_columnV1="images/text-elements/home-bacground.webp", alt_two_columnV1 = "alt";

	//-	informations-slider
	let h2_informations_slider_elements = "Lorem ipsum dolor sit amet";
	let text_informations_slider_elements = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.";
	let sliImages_informations_slider_elements = "images/slider/text-and-background/spotkanie.webp", sliAlt_informations_slider_elements = "alt", sliHeader_informations_slider_elements = "Lorem ipsum dolor sit amet", sliText_informations_slider_elements = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.",sliAlternative_informations_slider_elements="elit elit consectetur adipisicing elit.";
	let sliImagesTwo_informations_slider_elements = "images/slider/text-and-background/spotkanie-dwa.webp", sliAltTwo_informations_slider_elements = "alt", sliHeaderTwo_informations_slider_elements = "Lorem ipsum dolor sit amet", sliTextTwo_informations_slider_elements = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.",sliAlternativeTwo_informations_slider_elements="elit elit consectetur adipisicing elit.";
	let sliImagesThree_informations_slider_elements = "images/slider/text-and-background/meetap.webp", sliAltThree_informations_slider_elements = "alt", sliHeaderThree_informations_slider_elements = "Lorem ipsum dolor sit amet", sliTextThree_informations_slider_elements = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.",sliAlternativeThree_informations_slider_elements="elit elit consectetur adipisicing elit.";

	//-	two-columnV2
	let h2_two_columnV2 = "Lorem ipsum, dolor sit " , h2_two_color_columnV2 = "Lorem ipsum Necessitatibus.";
	let text_two_columnV2 = "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Quas veritatis odio quos, numquam natus ea reprehenderit placeat quia, eveniet ullam commodi dolor illo. Possimus.";
	let InfNumber_two_columnV2 = "100%", InfText_two_columnV2 = "Satisfaction";
	let InfNumberTwo_two_columnV2 = "24/4", InfTextTwo_two_columnV2 = "Satisfaction";
	let InfNumberThree_two_columnV2 = "100k+", InfTextThree_two_columnV2 = "Satisfaction";
	let images_columnV2 = "images/text-elements/razem.webp", alt_columnV2 = "alt";

	//-	four-columnV1
	let images_four_columnV1 = "images/icons/check/check-header.svg", alt_four_columnV1 = "alt",header_four_columnV1 = "Lorem Ipsum dolar", text_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";
	let images2_four_columnV1 = "images/icons/check/check-header.svg", alt2_four_columnV1 = "alt",header2_four_columnV1 = "Lorem Ipsum dolar", text2_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";
	let images3_four_columnV1 = "images/icons/check/check-header.svg", alt3_four_columnV1 = "alt",header3_four_columnV1 = "Lorem Ipsum dolar", text3_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";
	let images4_four_columnV1 = "images/icons/check/check-header.svg", alt4_four_columnV1 = "alt",header4_four_columnV1 = "Lorem Ipsum dolar", text4_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";

	//-	footer
	let alternative_footer = "DOWIEDŹ SIĘ WIĘCEJ";
	let header_footer = "Lorem ipsum dolor sit amet";
	let text_footer = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.";
	let buttonName_footer = "Lorem ipsum";

include ../common-components/_head
body
	main(type="main")
		include ../common-components/_nav
		include ../common-components/_header
		include ../components/text-elements/_three-columnV1
		include ../components/slider/_partners
		div.section-wrapper-gradient
			include ../components/form/_contakt-one
			include ../components/text-elements/_two-columnV1
			include ../components/slider/_informations-twoColumns
		div.section-wrapper-AddColor
			include ../components/text-elements/_two-columnV2
			include ../components/offer/_two-columnsV1
		include ../common-components/_footer
