-
	//-	Title
	let nameTitle = "Usługi BHP: kursy i ochrona przeciwpożarowa – BHP INKA Śląsk";
	//-	Baner top
	let baner_top_img = "images/slider/text-and-background/meetap.webp"
	let baner_top_h1 = "Przegląd Gaśnic";
	let baner_top_h2 = "Lorem Ipsum is simply"
	let baner_top_content = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit."
	//-	two-columnV1
	let h2_two_columnV1 = "Lorem ipsum, dolor sit ", h2_color_two_columnV1 = "Lorem ipsum Necessitatibus.";
	let text_two_columnV1 = "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error fugiat suscipit a dignissimos adipisci ad molestias minima provident fuga iste ut cumque harum temporibus";
	let Icon_images_two_columnV1= "images/icons/text-elements/coordinator.svg", Icon_alt_two_columnV1="alt", Icon_h3_two_columnV1="Lorem ipsum, dolor sit", Icon_text_two_columnV1="Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.";
	let Icon_imagesTwo_two_columnV1= "images/icons/text-elements/student.svg", Icon_altTwo_two_columnV1="alt", Icon_h3Two_two_columnV1="Lorem ipsum, dolor sit", Icon_textTwo_two_columnV1="Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.";
	let images_two_columnV1="images/text-elements/home-bacground.webp", alt_two_columnV1 = "alt";
	//-	two-columnV3
	let h2_two_columnV3 = "Lorem ipsum, dolor sit ", h2_color_two_columnV3 = "Lorem ipsum Necessitatibus.";
	let text_two_columnV3 = "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error fugiat suscipit a dignissimos adipisci ad molestias minima provident fuga iste ut cumque harum temporibus";
	let Icon_images_two_columnV3= "images/icons/text-elements/coordinator.svg", Icon_alt_two_columnV3="alt", Icon_h3_two_columnV3="Lorem ipsum, dolor sit", Icon_text_two_columnV3="Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.";
	let Icon_imagesTwo_two_columnV3= "images/icons/text-elements/student.svg", Icon_altTwo_two_columnV3="alt", Icon_h3Two_two_columnV3="Lorem ipsum, dolor sit", Icon_textTwo_two_columnV3="Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.";
	let images_two_columnV3="images/text-elements/home-bacground.webp", alt_two_columnV3 = "alt";
	//-	three-columnV3
	let imagesOne_three_column = "images/icons/home/communication.svg", altOne_three_column = "alt", textOne_three_column = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vel iusto excepturi ipsum facere eos unde aspernatur dolore cumque.";
	let imagesTwo_three_column = "images/icons/home/leadership.svg", altTwo_three_column = "alt", textTwo_three_column = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vel iusto excepturi ipsum facere eos unde aspernatur dolore cumque.";
	let imagesThree_three_column = "images/icons/home/team.svg", altThree_three_column = "alt", textThree_three_column = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vel iusto excepturi ipsum facere eos unde aspernatur dolore cumque.";
	//-	footer
	let alternative_footer = "DOWIEDŹ SIĘ WIĘCEJ";
	let header_footer = "Lorem ipsum dolor sit amet";
	let text_footer = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.";
	let buttonName_footer = "Lorem ipsum";
include ../common-components/_head

body
	main(type="main")
		include ../common-components/_nav
		include ../common-components/_baner-top
		include ../components/text-elements/_two-columnV3
		include ../components/text-elements/_two-columnV1
		include ../components/text-elements/_three-columnV1
		include ../common-components/_footer-top
		include ../common-components/_footer
