-
	//-	Title
	let nameTitle = "Usługi BHP: kursy i ochrona przeciwpożarowa – BHP INKA Śląsk";
	//-	Baner top
	let baner_top_img = "images/slider/text-and-background/spotkanie.webp"
	let baner_top_h1 = "System Zarządzania BHP";
	let baner_top_h2 = "Lorem Ipsum is simply"
	let baner_top_content = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit."
	//-	two-columnV1
	let h2_two_columnV1 = "Lorem ipsum, dolor sit ", h2_color_two_columnV1 = "Lorem ipsum Necessitatibus.";
	let text_two_columnV1 = "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error fugiat suscipit a dignissimos adipisci ad molestias minima provident fuga iste ut cumque harum temporibus";
	let Icon_images_two_columnV1= "images/icons/text-elements/coordinator.svg", Icon_alt_two_columnV1="alt", Icon_h3_two_columnV1="Lorem ipsum, dolor sit", Icon_text_two_columnV1="Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.";
	let Icon_imagesTwo_two_columnV1= "images/icons/text-elements/student.svg", Icon_altTwo_two_columnV1="alt", Icon_h3Two_two_columnV1="Lorem ipsum, dolor sit", Icon_textTwo_two_columnV1="Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.";
	let images_two_columnV1="images/text-elements/home-bacground.webp", alt_two_columnV1 = "alt";
	//-	four-columnV1
	let images_four_columnV1 = "images/icons/check/check-header.svg", alt_four_columnV1 = "alt",header_four_columnV1 = "Lorem Ipsum dolar", text_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";
	let images2_four_columnV1 = "images/icons/check/check-header.svg", alt2_four_columnV1 = "alt",header2_four_columnV1 = "Lorem Ipsum dolar", text2_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";
	let images3_four_columnV1 = "images/icons/check/check-header.svg", alt3_four_columnV1 = "alt",header3_four_columnV1 = "Lorem Ipsum dolar", text3_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";
	let images4_four_columnV1 = "images/icons/check/check-header.svg", alt4_four_columnV1 = "alt",header4_four_columnV1 = "Lorem Ipsum dolar", text4_four_columnV1= "Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit.";
	//-	footer
	let alternative_footer = "DOWIEDŹ SIĘ WIĘCEJ";
	let header_footer = "Lorem ipsum dolor sit amet";
	let text_footer = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.";
	let buttonName_footer = "Lorem ipsum";
include ../common-components/_head

body
	main(type="main")
		include ../common-components/_nav
		include ../common-components/_baner-top
		include ../components/text-elements/_two-columnV1
		include ../components/text-elements/_four-columnV1
		include ../components/offer/_two-columnsV2
		div.section-wrapper 
			include ../common-components/_footer
