-
	//-	Title
	let nameTitle = "Usługi BHP: kursy i ochrona przeciwpożarowa – BHP INKA Śląsk";
	//-	Baner top
	let baner_top_img = "images/slider/text-and-background/spotkanie.webp"
	let baner_top_h1 = "Szkolenia online";
	let baner_top_h2 = "Lorem Ipsum is simply"
	let baner_top_content = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit."

	//-	contakt-one
	let images_contakt_one = "images/form/v1/images-contakt.webp", images_contakt_alt = "alt";
	let h2_contakt_one = "Lorem ipsum, dolor sit ", h2_color_contakt_one = "Lorem ipsum Necessitatibus.";
	let text_contakt_one = "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus voluptatem nulla, voluptates, cumque exercitationem recusandae distinctio, quo nobis optio deserunt alias doloribus consectetur magni quam. Veritatis illum eligendi porro incidunt?";
	let textIcon_contakt_one = "Lorem ipsum dolor", textIconOne_contakt_one = "Lorem ipsum dolor",  textIconThree_contakt_one = "Lorem ipsum dolor", textIconFour_contakt_one = "Lorem ipsum dolor";
	
	//-	informations-slider
	let h2_informations_slider_elements = "Lorem ipsum dolor sit amet";
	let text_informations_slider_elements = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.";
	let sliImages_informations_slider_elements = "images/slider/text-and-background/spotkanie.webp", sliAlt_informations_slider_elements = "alt", sliHeader_informations_slider_elements = "Lorem ipsum dolor sit amet", sliText_informations_slider_elements = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.",sliAlternative_informations_slider_elements="elit elit consectetur adipisicing elit.";
	let sliImagesTwo_informations_slider_elements = "images/slider/text-and-background/spotkanie-dwa.webp", sliAltTwo_informations_slider_elements = "alt", sliHeaderTwo_informations_slider_elements = "Lorem ipsum dolor sit amet", sliTextTwo_informations_slider_elements = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.",sliAlternativeTwo_informations_slider_elements="elit elit consectetur adipisicing elit.";
	let sliImagesThree_informations_slider_elements = "images/slider/text-and-background/meetap.webp", sliAltThree_informations_slider_elements = "alt", sliHeaderThree_informations_slider_elements = "Lorem ipsum dolor sit amet", sliTextThree_informations_slider_elements = "Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.",sliAlternativeThree_informations_slider_elements="elit elit consectetur adipisicing elit.";

	//-	two-columnV1
	let h2_two_columnV1 = "Lorem ipsum, dolor sit ", h2_color_two_columnV1 = "Lorem ipsum Necessitatibus.";
	let text_two_columnV1 = "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error fugiat suscipit a dignissimos adipisci ad molestias minima provident fuga iste ut cumque harum temporibus";
	let Icon_images_two_columnV1= "images/icons/text-elements/coordinator.svg", Icon_alt_two_columnV1="alt", Icon_h3_two_columnV1="Lorem ipsum, dolor sit", Icon_text_two_columnV1="Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.";
	let Icon_imagesTwo_two_columnV1= "images/icons/text-elements/student.svg", Icon_altTwo_two_columnV1="alt", Icon_h3Two_two_columnV1="Lorem ipsum, dolor sit", Icon_textTwo_two_columnV1="Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.";
	let images_two_columnV1="images/text-elements/home-bacground.webp", alt_two_columnV1 = "alt";

include ../common-components/_head

mixin box-centered(text, icon, color_class)
	div(class=color_class class="card")
		div.card__header.mb-2
			div.card__box-icon
				span.card__icon.global-icon
					img(src=icon alt="elo")
			h3.card__title Lorem ipsum dolor sit amet consectetur.
		div.card__content
			p.paragraph-text= text	

body
	main(type="main")
		include ../common-components/_nav
		include ../common-components/_baner-top
		section.section-wrapper
			div.container
				h2.mb-5 Lorem ipsum dolor sit <br /> amet consectetur
				div.row.colaps-vertically
					div.col-lg-3
						div.nav.colaps-vertically__nav(role='tablist' aria-orientation='vertical')
							button.colaps-vertically__button.active#v-pills-home-tab(data-bs-toggle='pill' data-bs-target='#v-pills-home' type='button' role='tab' aria-controls='v-pills-home' aria-selected='true') 
								| 1. Home
							button.colaps-vertically__button#v-pills-profile-tab(data-bs-toggle='pill' data-bs-target='#v-pills-profile' type='button' role='tab' aria-controls='v-pills-profile' aria-selected='false') 
								| 2. Profile
							button.colaps-vertically__button#v-pills-messages-tab(data-bs-toggle='pill' data-bs-target='#v-pills-messages' type='button' role='tab' aria-controls='v-pills-messages' aria-selected='false') 
								| 3. Messages
							button.colaps-vertically__button#v-pills-settings-tab(data-bs-toggle='pill' data-bs-target='#v-pills-settings' type='button' role='tab' aria-controls='v-pills-settings' aria-selected='false') 
								| 4. Setting
					div.col-lg-9.mt-xs-3.mt-sm-3.mt-md-3
						div.tab-content.colaps-vertically__right-box#v-pills-tabContent
							div.tab-pane.show.active#v-pills-home(role='tabpanel' aria-labelledby='v-pills-home-tab')
								div.row
									div.col-md-11.offset-md-1
										div.bulleted-list
											ol.bulleted-list__box
												li.bulleted-list__item
													span.bulleted-list__iteral
													div
														h3 Key benefits
														p.paragraph-text-bold
															| The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
												li.bulleted-list__item.mt-3
													span.bulleted-list__iteral
													div
														h3 This is where we
														p.paragraph-text
															| The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
												li.bulleted-list__item.mt-3
													span.bulleted-list__iteral
													div
														h3 Apkin sketches and mak
														p.paragraph-text
															| The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
												li.bulleted-list__item.mt-3
													span.bulleted-list__iteral
													div
														h3 Come to bring
														p.paragraph-text
															| The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
							div.tab-pane#v-pills-profile(role='tabpanel' aria-labelledby='v-pills-profile-tab')
								div.box-text
									div.col-md-11.offset-md-1.box-text__content-box
										div
											h2.mb-2 Key benefits of Space template
											p.paragraph-text-bold.mb-1 The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels  Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
											div.row.mt-4
												div.col-md-6
													+box-centered('We use the latest technologies and tools in order to create a better code that not only works great, but it is easy easy to work with too.', "images/icons/home/leadership.svg", 'card--gray-subtle')
												div.col-md-6 
													+box-centered('We use the latest technologies and tools in order to create a better code that not only works great, but it is easy easy to work with too.', "images/icons/home/leadership.svg", 'card--gray-subtle')
							div.tab-pane#v-pills-messages(role='tabpanel' aria-labelledby='v-pills-messages-tab')
								div.box-text
									div.offset-md-1
										div.row
											div.col-lg-6.box-text__content-box--flex-center-vertical.pl-4
												div 
													h3.mb-2 Key benefits of Space template
													p.paragraph-text.mb-1 The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
													p.paragraph-text Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
													a(href="#").primary-button.mt-3 lorem ispum
											div.col-lg-6.mt-xs-3.mt-sm-3.mt-md-3
												div.bulleted-list
													ol.bulleted-list__box
														li.bulleted-list__item
															span.bulleted-list__iteral
															div
																h3 Key benefits
																p.paragraph-text-bold
																	| The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
														li.bulleted-list__item.mt-3
															span.bulleted-list__iteral
															div
																h3 This is where we
																p.paragraph-text
																	| The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
													
							div.tab-pane#v-pills-settings(role='tabpanel' aria-labelledby='v-pills-settings-tab')
								div.box-text
									div.col-md-11.offset-md-1.box-text__content-box
										div
											span.rounded-box.small-text-addColor.mb-2 to bring those ideas
											h3.mb-2 Key benefits of Space template
											p.paragraph-text-bold.mb-1 The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
											p.paragraph-text-bold.mb-1 Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
											div.bulleted-list
												ol.bulleted-list__box
													li.bulleted-list__item.mt-2
														span.bulleted-list__iteral
														div
															h3 Key benefits
															p.paragraph-text
																| The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
													li.bulleted-list__item.mt-2
														span.bulleted-list__iteral
														div
															h3 Key benefits
															p.paragraph-text
																| The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
													li.bulleted-list__item.mt-2
														span.bulleted-list__iteral
														div
															h3 Key benefits
															p.paragraph-text
																| The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
													li.bulleted-list__item.mt-2
														span.bulleted-list__iteral
														div
															h3 Key benefits
															p.paragraph-text
																| The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
		section.extinguishers.section-wrapper-AddColor.section-wrapper
			div.container
				div.box-centered
					div.col-md-6.box-centered__text
						span.rounded-box--white.small-text-addColor.mb-2 dolar siolux
						h2 Elo ziomek
						p.paragraph-text-bold Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.
				div.row.mt-6
					div.col-lg-4
						+box-centered('We use the latest technologies and tools in order to create a better code that not only works great, but it is easy easy to work with too.', "images/icons/home/leadership.svg")
					div.col-lg-4.mt-md-3.mb-md-3.mt-sm-3.mb-sm-3.mt-xs-3.mb-xs-3
						+box-centered("You don't only need a theme, but also great tools in order to ease the process or building and customizing. And this is exactly what we offer you. Lorem ipsum dolor sit amet consectetur adipisicing elit", "images/icons/text-elements/student.svg")
					div.col-lg-4
						+box-centered('is lighter and faster than most of the themes out there which means you get more for less. Check out the components and examples pages.', "images/icons/home/team.svg")
			div.section-wrapper-AddColor
		section.section-wrapper
			div.container
				div.box-text
					div.row
						div.col-lg-5
							div.box-text__container-image
								img(src="images/heepy-team.jpg" alt="" class="box-text__item-image")
						div.col-lg-6.offset-1.box-text__content-box--flex-center-vertical.pl-4
							div 
								span.rounded-box.small-text-addColor.mb-2.mt-xs-3.mt-sm-3.mt-md-3 to bring those ideas
								h3.mb-2 Key benefits of Space template
								p.paragraph-text.mb-1 The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
								p.paragraph-text Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion. Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
					div.row.mt-9
						div.col-lg-6.box-text__content-box--flex-center-vertical.pl-4
							div 
								span.rounded-box.small-text-addColor.mb-2.mt-xs-3.mt-sm-3.mt-md-3 to bring those ideas
								h3.mb-2 Key benefits of Space template
								p.paragraph-text-bold.mb-1 The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
								p.paragraph-text Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
						div.col-lg-5.offset-1
							div.box-text__container-image
								img(src="images/heepy-team.jpg" alt="" class="box-text__item-image")
				div.section-wrapper
		section.section-wrapper-AddColor 
			include ../components/slider/_informations-twoColumns
			div.section-wrapper-AddColor
		include ../components/text-elements/_two-columnV1
		section.section-wrapper
			include ../components/slider/_partners
		div
			include ../common-components/_footer




