header.baner-top.mt-3
	div.baner-top__box-image
			div.baner-top__wrap-image
				img(src=baner_top_img, alt="" class="baner-top__image js-size-image")
	div.baner-top__box-titile
		div.baner-top__wrap-title
			div.baner-top__teansform-text
				h1.baner-top__item-titile #{baner_top_h1}
	div.baner-top__box-content.col-md-3
		h2 #{baner_top_h2}
		p.paragraph-text #{baner_top_content}
