mixin footer-nafigation(header, ...items)
	h3(class="footer-header")=header
	ul(class="footer-navigation")
		each item in items
			li(class="footer-navigation__list")
				a(href=item[0])= item[1]

footer.master-footer
	include ../components/text-elements/_four-columnV1
	div.master-footer__top
		div.box-centered
			div.col-xl-6
				div.box-centered__text
					span.rounded-box.small-text-addColor DOWIEDŹ SIĘ WIĘCEJ
					h2 Lorem ipsum dolor sit amet
					p.paragraph-text-addColor-bold.
						Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit elit consectetur adipisicing elit.
					a(href="#").left-box__button.primary-button Lorem Ipsum
						span.button-arrow-right
	div.master-footer__botton.section-wrapper
		div.container
			div.row
				div.col-xl-3
					a(href="#").logo-wrap
						img(src="images/logo/logo.svg", alt="inak bhp").logo-wrap__images
					div.master-footer__botton-icon
						a(href="#").master-footer__botton-icon__item
						a(href="#").master-footer__botton-icon__item
					a(href="http://isap.sejm.gov.pl/isap.nsf/download.xsp/WDU19940240083/U/D19940083Lj.pdf", rel="nofollow", target="_blank").footer-anchor
						|2020 ©  Prawa Autroskie 
					a(href="https://ligmann.eu").footer-anchor
						| Carried: Damian Ligmann
				div.col-xl-3
					+footer-nafigation(
						'MAPA STRONY',
						['a', 'O Firmie'],
						['a', 'Obsługa Firm'],
						['a', 'Referencje i Certyfikaty'],
						['a', 'System Zarządzania BHP'],
						['a', 'Szkolenia Online'],
						['a', 'Szkolenia BHP'],
						['a', 'Kurs Pierweszej pomocy'],
						['a', 'Szkolenia PPOŻ'],
						['a', 'E-Sklep'],
						['a', 'Przeglady Gaśnic'],
						['a', 'Sprzedaż Gaśnic'],
						['a', 'Kontakt'],
						['a', 'Blog']
					)
				div.col-xl-3
					+footer-nafigation(
						'USŁGI',
						['a', 'System Zarządzania BHP'],
						['a', 'Szkolenia Online'],
						['a', 'Szkolenia BHP'],
						['a', 'Kurs Pierweszej pomocy'],
						['a', 'Szkolenia PPOŻ'],
						['a', 'Przeglady Gaśnic'],
						['a', 'Sprzedaż Gaśnic']
					)
				div.col-xl-3
					+footer-nafigation(
						'KONTAKT',
						['/kontakt', 'Godziny Otwarcia |  pon-sob w godz. 9:00 -17:00'],
						['tel:+48515760315', 'Tel: 515 760 315 | 500 408 404'],
						['amailto:inkabhp@gmail.com', 'E-mail: inkabhp@gmail.com']
					)

script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
script(src="javascript/main-bootom.js")