div.box-centered.section-wrapper.footer-top
	div.col-xl-6
		div.box-centered__text
			span.rounded-box.small-text-addColor #{alternative_footer}
			h2 #{header_footer}
			p.paragraph-text-addColor-bold #{text_footer}
			a(href="#").left-box__button.primary-button #{buttonName_footer}
				span.button-arrow-right