header.headerV2.headerV2--color
	div.headerV2__box
		img(src=image_headerV2, alt=ltImage_headerV2).headerV2__image
		div.headerV2__wrap-content.col-md-6.col-sm-10
			h1.headerV2__header Lorem ipsum, dolor sit amet consectetur
			a(href=linkOne_header_top).primary-button #{linkOne_text_header_top} #[span.button-arrow-right]
