section.master-navigation.container
	div.row
		a(href="index.html").logo-wrap.col-xl-1.col-lg-2.col-md-2.col-sm-2.col-4
			img(src="images/logo/logo.svg" alt="BHP Inka").logo-wrap_images
		nav.navigation-wrap.col-xl-11.col-lg-10.col-md-10.col-sm-10.col-8
			button.navigation-burger
				span.navigation-burger__item
				span.navigation-burger__item
				span.navigation-burger__item
			ul.navigation-list
				button.exit-burger
				li.navigation-list_items
					a.navigation-list_items__arrow Poznaj Nas
					div.under-menu
						div.row
							div.col-xl-6.col-ld-6.col-md-6.under-menu__left
								img(src="images/text-elements/home-bacground.webp" alt="").under-menu__left-images
							ul.col-xl-6.col-lg-6.col-md-12.under-menu__right
								li.under-menu__right-items
									a(href="about.html") O Firmie
								li.under-menu__right-items
									a(href="cooperation.html") Obsługa Firm
								li.under-menu__right-items
									a(href="recommendation.html") Referencje
								li.under-menu__right-items
									a(href="recommendation.html") Certyfikaty
				li.navigation-list_items
					a.navigation-list_items__arrow Szkolenia
					div.under-menu
						div.row
							div.col-xl-6.col-ld-6.col-md-6.under-menu__left
								img(src="images/text-elements/home-bacground.webp" alt="").under-menu__left-images
							ul.col-xl-6.col-lg-6.col-md-12.under-menu__right
								li.under-menu__right-items
									a(href="trening-online.html") Szkolenia Online
								li.under-menu__right-items
									a(href="trening-online.html") Szkolenia BHP	
								li.under-menu__right-items
									a(href="trening-online.html") Szkolenia PPOŻ
								li.under-menu__right-items
									a(href="trening-online.html") Kurs Pierweszej pomocy
				li.navigation-list_items
					a(#) E-Sklep					
				li.navigation-list_items
					a.navigation-list_items__arrow Usługi
					div.under-menu
						div.row
							div.col-xl-6.col-ld-6.col-md-6.under-menu__left
								img(src="images/text-elements/home-bacground.webp" alt="").under-menu__left-images
							ul.col-xl-6.col-lg-6.col-md-12.under-menu__right
								li.under-menu__right-items
									a(href="management-system-bhp.html") System Zarządzania BHP
								li.under-menu__right-items
									a(href="inspection-fire.html") Przeglady Gaśnic i hydrantów
								li.under-menu__right-items
									a(href="extinguishers.html") Sprzedaż Gaśnic							
				li.navigation-list_items
					a(href="blog.html") Blog
				li.navigation-list_items
					a(href="contakt.html") Kontakt
			button.primary-button Platforma Szkoleniowa
