
//mixin

div.row.colaps-vertically
	div.col-md-3
		div.nav.colaps-vertically__nav(role='tablist' aria-orientation='vertical')
			button.colaps-vertically__button.active#v-pills-home-tab(data-bs-toggle='pill' data-bs-target='#v-pills-home' type='button' role='tab' aria-controls='v-pills-home' aria-selected='true') 
				| 1. Home
			button.colaps-vertically__button#v-pills-profile-tab(data-bs-toggle='pill' data-bs-target='#v-pills-profile' type='button' role='tab' aria-controls='v-pills-profile' aria-selected='false') 
				| 2. Profile
			button.colaps-vertically__button#v-pills-messages-tab(data-bs-toggle='pill' data-bs-target='#v-pills-messages' type='button' role='tab' aria-controls='v-pills-messages' aria-selected='false') 
				| 3. Messages
			button.colaps-vertically__button#v-pills-settings-tab(data-bs-toggle='pill' data-bs-target='#v-pills-settings' type='button' role='tab' aria-controls='v-pills-settings' aria-selected='false') 
				| 4. Setting
	div.col-md-9
		div.tab-content.colaps-vertically__right-box#v-pills-tabContent
			div.tab-pane.show.active#v-pills-home(role='tabpanel' aria-labelledby='v-pills-home-tab')
				div.box-text
					div.row
						div.col-md-4
							div.box-text__container-image
								img(src="images/heepy-team.jpg", alt="" class="box-text__item-image")
						div.col-md-7.box-text__content-box--flex-center-vertical
							div 
								span.rounded-box.small-text-addColor.mb-2 to bring those ideas
								h2 Key benefits of Space template
								p.paragraph-text.mb-2 The time has come to bring those ideas and plans to life. This is where we really begin to visualize your napkin sketches and make them into beautiful pixels.
								p.paragraph-text Now that we've aligned the details, it's time to get things mapped out and organized. This part is really crucial in keeping the project in line to completion.
								a(href="#").primary-button.mt-2 lorem ispum
			div.tab-pane#v-pills-profile(role='tabpanel' aria-labelledby='v-pills-profile-tab')
				div.row
					div.col-md-6
						+box-centered('We use the latest technologies and tools in order to create a better code that not only works great, but it is easy easy to work with too.', "images/icons/home/leadership.svg", 'card--gray-subtle')
					div.col-md-6
						+box-centered('We use the latest technologies and tools in order to create a better code that not only works great, but it is easy easy to work with too.', "images/icons/home/leadership.svg", 'card--gray-subtle')
					div.col-md-6.mt-3
						+box-centered('We use the latest technologies and tools in order to create a better code that not only works great, but it is easy easy to work with too.', "images/icons/home/leadership.svg", 'card--gray-subtle')
					div.col-md-6.mt-3
						+box-centered('We use the latest technologies and tools in order to create a better code that not only works great, but it is easy easy to work with too.', "images/icons/home/leadership.svg", 'card--gray-subtle')
			div.tab-pane#v-pills-messages(role='tabpanel' aria-labelledby='v-pills-messages-tab')
				1
			div.tab-pane#v-pills-settings(role='tabpanel' aria-labelledby='v-pills-settings-tab')
				1