section.element-twoColumnsV2
	div.container
		div.row
			div.col-xl-6.globla-flex-center
				h2 Lorem ipsum, dolor sit #[span.header-text_underline Lorem ipsum Necessitatibus.]
				p.paragraph-text-addColor.
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. In placeat quidem cumque quis nihil. Quas veritatis odio quos, numquam natus ea reprehenderit placeat quia, eveniet ullam commodi dolor illo. Possimus.
				div.element-twoColumnsV2__number
					div.row
						div.element-twoColumnsV2__number-item
							span.element-twoColumnsV2__number-item__number.
								100%
							span.element-twoColumnsV2__number-item__text.paragraph-text.
								Satisfaction
						div.element-twoColumnsV2__number-item
							span.element-twoColumnsV2__number-item__number.
								24/4
							span.element-twoColumnsV2__number-item__text.paragraph-text.
								Satisfaction
						div.element-twoColumnsV2__number-item
							span.element-twoColumnsV2__number-item__number.
								100k+
							span.element-twoColumnsV2__number-item__text.paragraph-text.
								Satisfaction
			div.col-xl-6
				img(src="images/text-elements/home-bacgroundb.webp", alt="")
