mixin  four-columnV1-boxItems(images, alt, header, text)
	div(class="four-columnV1__wraper-boxItems")
		span(class="global-icon")
			img(src=images alt=alt)
		span(class="four-columnV1__wraper-boxItems__text")
			h3=header
			p(class="paragraph-text-addColor")=text

section.four-columnV1.section-wrapper
	div.container
		div.four-columnV1__wraper
			+four-columnV1-boxItems(
				images_four_columnV1,
				alt_four_columnV1,
				header_four_columnV1,
				text_four_columnV1
			)
			+four-columnV1-boxItems(
				images2_four_columnV1,
				alt2_four_columnV1,
				header2_four_columnV1,
				text2_four_columnV1
			)
			+four-columnV1-boxItems(
				images3_four_columnV1,
				alt3_four_columnV1,
				header3_four_columnV1,
				text3_four_columnV1
			)
			+four-columnV1-boxItems(
				images4_four_columnV1,
				alt4_four_columnV1,
				header4_four_columnV1,
				text4_four_columnV1
			)
