section.text-and-background.section-wrapper
	div.container
		div.row
			div.col-xl-5
				div.text-and-background__left
					h2 Lorem ipsum, dolor sit #[span.header-text_underline Lorem ipsum Necessitatibus.]
					p.paragraph-text-bold.
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error fugiat suscipit a dignissimos adipisci ad molestias minima provident fuga iste ut cumque harum temporibus.
					div.column-iformation
						div.column-iformation__wrap
							span.global-icon.column-iformation__wrap-icon
								img(src="images/icons/text-elements/coordinator.svg", alt="Jestem tutaj")
							div.column-iformation__wrap-text
								h3 Lorem ipsum, dolor sit
								p.paragraph-text.
									Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.
						div.column-iformation__wrap
							span.global-icon.column-iformation__wrap-icon
								img(src="images/icons/text-elements/student.svg", alt="jestem tutaj")
							div.column-iformation__wrap-text
								h3 Lorem ipsum, dolor sit
								p.paragraph-text.
									Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.
			div.col-xl-7
				div.wrap-images
					img(src="images/text-elements/home-bacground.webp", alt="jestem tu")
