section.three-column.section-wrapper
	div.container
		div.row
			div.col-sm-4
				span.three-column__icon.global-icon
					img(src="images/icons/home/communication.svg", alt="")
				h3 Lorem ipsum
				p.paragraph-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vel iusto excepturi ipsum facere eos unde aspernatur dolore cumque.
			div.col-sm-4
				span.three-column__icon.global-icon
					img(src="images/icons/home/leadership.svg", alt="")
				h3 Lorem ipsum
				p.paragraph-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vel iusto excepturi ipsum facere eos unde aspernatur dolore cumque.
			div.col-sm-4
				span.three-column__icon.global-icon
					img(src="images/icons/home/team.svg", alt="")
				h3 Lorem ipsum
				p.paragraph-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti vel iusto excepturi ipsum facere eos unde aspernatur dolore cumque.
