section.partners.section-wrapper
	div.container
		div.swiper-container.js-partners
			div.swiper-wrapper
				div.swiper-slide
					div.row.partners__wrap
						div.col-sm-3.partners-items
							img(src="images/slider/partners/logo.webp", alt="elo").partners-items__images
						div.col-sm-3.partners-items
							img(src="images/slider/partners/logo1.webp", alt="elo").partners-items__images
						div.col-sm-3.partners-items
							img(src="images/slider/partners/logo2.webp", alt="elo").partners-items__images
						div.col-sm-3.partners-items
							img(src="images/slider/partners/logo3.webp", alt="elo").partners-items__images
				div.swiper-slide
					div.row.partners__wrap
						div.col-sm-3.partners-items
							img(src="images/slider/partners/logo11.webp", alt="elo").partners-items__images
						div.col-sm-3.partners-items
							img(src="images/slider/partners/logo12.webp", alt="elo").partners-items__images
						div.col-sm-3.partners-items
							img(src="images/slider/partners/logo2.webp", alt="elo").partners-items__images
						div.col-sm-3.partners-items
							img(src="images/slider/partners/logo3.webp", alt="elo").partners-items__images
				div.swiper-slide
					div.row.partners__wrap
						div.col-sm-3.partners-items
							img(src="images/slider/partners/logo8.webp", alt="elo").partners-items__images
						div.col-sm-3.partners-items
							img(src="images/slider/partners/logo10.webp", alt="elo").partners-items__images

