.contakt-one{
	margin-top: 0;

	&__left {
		border-radius: $radius;
		box-shadow: $shadow;
		transition: $animation transform, $animation box-shadow;

		&:hover{
			transform: translateY(-5px);
			box-shadow: 0px -4px 71px 0 #b3b2b2;
		}
	
		&__image {
			border-radius: $radius;
		}

		.left-box {
			padding: 32px 16px 24px;
			background-color: $white;
			border-bottom-left-radius: $radius;
			border-bottom-right-radius: $radius;

			@media (max-width:767px) {
				margin-bottom: 40px;
			}

			&__items {
				width: 100%;
				border-bottom: $boder-styles;
				font-size: 0.80em;
				font-weight: 500;
				padding: 24px 0 16px;
				
				&:first-child{
					padding-top: 0;
				}
			}

			&__button {
				width: 100%;
				margin-left: 0;
				margin-top: 40px;
			}
		}
	}

	&__right {
		height: 100%;
		padding-left: 104px;
		display: flex;
		flex-flow: column;
		justify-content: center;

		@media(max-width:1400px){
			padding-left: 72px;
		}

		@media(max-width:1200px){
			padding-left: 32px;
		}

		.list-information{
			display: flex;
			flex-flow: wrap;
			margin-top: 24px;

			&__items{
				width: calc(50% - 90px);

				@media(max-width:1400px) {
					width: calc(50% - 55px);
				}

				@media(max-width:1200px) {
					width: calc(50% - 0px);
				}

				@media(max-width:999px) {
					width: 100%;
					margin-bottom: 16px;
				}

				@media (max-width:767px) {
					width: 50%;
					margin-bottom: 0;
				}

				@media(max-width:460px) {
					width: 100%;
					margin-bottom: 16px;
				}
			}
		}
	}
}
