.box-text  {
	$root: &;

	&__container-image {
		position: relative;
		padding-bottom: 380px;
	}

	&__item-image {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: $radius;
	}

	&__content-box {
		display: flex;
		flex-flow: column;
		// padding-left: 48px;

		&--flex-center {
			@extend #{$root}__content-box;
			align-items: center;
		}
		
		&--flex-center-vertical {
			@extend #{$root}__content-box;
			justify-content: center;
		}
	}

	&__flex-reverse {
		@media (max-width: 991px) {
			flex-flow: wrap-reverse;
		}
	}
}