//	HEADER MIXIN
@mixin	text-header($h1:false, $h2: false, $h3: false, $h4: false) {
	color: $black;
	font-weight: 400;
	font-size: 2.35em;
	margin-bottom: 24px;

	@if $h1 {
		font-size: 2.35em;
		@media (max-width:1200px) {
			font-size: 2.30em
		}

		@media (max-width:992px) {
			font-size: 2.10em
		}

		@media (max-width:500px) {
			font-size: 1.80em
		}
	}


	@if $h2 {
		font-size: 1.75em;

		@media (max-width:1200px) {
			font-size: 1.45em
		}
		@media (max-width:992px) {
			font-size: 1.30em
		}
	}

	@if $h3 {
		font-size: 1.35em;
		margin-bottom: 8px;
	}

	@if $h4 {
		font-size: 1em;
	}
}

//	PARAGRAF MIXIN
@mixin	text-paragraph($bold-text:false, $add-color:false, $small:false, $margin:false) {
	color: $secunadry-color;
	line-height: 1.8;
	font-size: .94em;
	margin: 0;

	@media (max-width:1200px) {
		font-size: .92em
	}

	@if	$bold-text {
		font-size: 1em;
		font-weight: 500;

		@media (max-width:1200px) {
			font-size: .94em
		}
		@media (max-width:999px) {
			font-size: .90em
		}
	}

	@if	$add-color {
		color: $secundary-color-two;
	}

	@if	$small {
		font-size: .59em;
	}

	@if $margin {
		margin-bottom: 40px;
	}
}



