//	COLOR
$black: #0F0F0F;
$white: #fff;
$green: #eaeefd;
$gray-light:#f1f4f8;

//	COLORS PRIMARY
$primary-color: #335eea;
$primary-color-two: #ed3334;

//	SECUNDARY
$secunadry-color:#869ab8;
$secundary-color-two: #506690;

//	BACKGROUND COLORS
$background-two: #f1f4f8;
$background-gradient: linear-gradient(to bottom,#f9fbfd 0,#fff 100%);

//	FONT
$family-primary: 'Montserrat',
sans-serif;
$family-secundary: 'Roboto',
sans-serif;

//	ANIMATION TRANLATE	
$animation: .3s linear;

//	BOX SHADOW
$shadow: 0px -3px 16px 0px #b3b2b2;

//	PARAMETRS ATRYBUTS
$additional-container-liner: 56px;
$global-distance: 112px;
$radius: 8px;

//	BORDER 
$boder-styles: 1px solid $gray-light;
