//	GLOBALS STYLES
//	GLOBALS STYLES
@import 'global-styles/veriables';
@import 'global-styles/_mixin';
@import 'global-styles/_base';
@import 'global-styles/_font';
@import 'global-styles/animation';
@import 'global-styles/loop';

//	COMMON-COMPONENTS
@import 'common-components/_nav';
@import 'common-components/_header-top';
@import 'common-components/_footer';
@import 'common-components/_footer-top';
@import 'common-components/_baner-top';
@import 'common-components/_blog';
@import 'common-components/_blog-post';

//	COMPONENTS TEXT ELEMENT
@import 'components/text-elements/_three-columnV1';
@import 'components/text-elements/_two-columnV1';
@import 'components/text-elements/_two-columnV2';
@import 'components/text-elements/_four-columnV1';
@import 'components/text-elements/_card';
@import 'components/text-elements/_box-text.scss';

//	COLAPSE
@import 'components/collapse/_colaps-vertically';

//	SLIDERS
@import 'components/slider/_partners';
@import 'components/slider/_informations-twoColumns';

//	COMPONENTS FORM
@import 'components/form/_contakt-one';
@import 'components/form/_contakt-two';

//	OFFER
@import 'components/offer/_two-columnsV1';
@import 'components/offer/_two-columnsV2';

//	COLLAPSE
@import 'components/collapse/_headquarters';